@model ControlMigracion.Controllers.Auditoria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Auditoria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Accion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.NombreUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
